* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face
{
    font-family: ForteFont;
    src: url(font/FORTE.TTF);
}

body {
  font: 16px Helvetica;
  background: #ADACAC;
}

.logo {
  width: 50%;
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.5em;
  text-align: center;
  opacity: 0.7;
}

.span1
{
font-family:ForteFont;
font-weight:none;
color:#DDD;
}

.span2
{
font-family:Helvetica;
font-weight:bold;
color:#306EFF;
opacity:0.5;
}

.container{
background:#D0CFCF;
height: 351px;
width: 348px;
border-radius: 16px;
margin-left: 2px;
}

section {
  width: 350px;
  padding: 0 30px 30px 30px;
  margin: 130px auto;
  text-align: center;
  border-radius:15px;
  border:5px solid white;
  height: 380px;
  }

form{

margin-top: 40px;

}

.imp{
font-size: 15px;
font-weight: 100;
width: 344px;
height: 48px;
background-color: white;
margin-left: -32px;
margin-top: -2px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.imp1{
font-size: 15px;
font-weight: 100;
width: 344px;
height: 48px;
background-color: white;
margin-left: -32px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.username {
width: 80%;
border: 1px solid #ccc;
height: 41px;
margin-bottom: 6px;
margin-left: -34px;
font-size: 14px;
color: #7f8c8d;
padding-left: 13px;
margin-top: -6px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.user{

width:22px;
margin:8px 3px;

}
.password{
margin-top: -41px;
width: 80%;
border: 1px solid #ccc;
height: 41px;
margin-bottom: 6px;
margin-left: -33px;
font-size: 14px;
color: #7f8c8d;
padding-left: 13px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}

input:focus {
  outline: none;
}

.logo-login
{
height: 100px;
width: 100px;
margin-left:215px;
margin-top:-75px;
border: 4px solid white;
border-radius: 50%;
}

.btnlogin {
width: 90%;
height: 39px;
border: none;
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(61,128,191,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(61,128,191,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(61,128,191,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(61,128,191,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(61,128,191,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(61,128,191,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
font-weight: 100;
margin-bottom: 15px;
border-radius: 10px;
transition: all ease-in-out .2s;
border-bottom: 2px solid #2980b9;
}

.btnlogin :focus {
  outline: none;
}

h1{

float: left;
margin-left: 22px;
margin-top: 9px;
color: rgb(167, 168, 174);
font-size: 20px;
}

 h2 {
  font-size: .75em;
margin-top: -3px;
}

.login{
color: #ecf0f1;
text-decoration: none;

}

 h2 a {
  color: rgb(213, 5, 5);
text-decoration: none;
transition: all ease-in-out .2s;
font-size: 13px;
}

h2 a:hover {
  color: #c0392b;
}

.se{
background: white;
/* background-size: 70%; */
height: 41px;
width: 11%;
border: 1px solid #ccc;
margin-top: -47px;
padding: -3px;
/* background-position: center; */
margin-left: 234px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.result
{
width:50%;
position:fixed;
margin-top:-10%;
margin-left:25%;
color:red;
font-size:1.3em;
font-weight:bold;
text-align:center;
}




