@font-face
{
	font-family: forte;
	src: url("font/FORTE.ttf");
}



body
{
  font:1em normal Arial,sans-serif;
  color:#34495E;
  margin:0;
}

p
{
    color:red;
}


.note{
    
    float: left;
    font-size: 11px;
    margin-left: 6%
    
}

.table2{
font-family:Arial, Helvetica, sans-serif;
	font-size:12px;

  border-top: 1px solid rgb(208, 208, 208);
  border-right: 1px solid rgb(208, 208, 208);
  border-left: 1px solid rgb(208, 208, 208);
    border-collapse: collapse;
	margin:20px;
	width:90%;
}
 th, td{
border-bottom:1px solid rgb(208, 208, 208) ;
}
 th{
border-right:1px solid rgb(208, 208, 208);
text-align: left;
padding:7px;
width:50%;

}

.table2 td
{
padding:7px;
}

 button
{
font-size:1em;
}

.hint
{
width:90%;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    font-size:10px;
	padding:3px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size:10px;
		padding:3px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size:10px;
		padding:3px;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
       font-size:10px;
	   padding:3px;
}

textarea::-webkit-input-placeholder { /* WebKit browsers */
    font-size:10px;
	padding:3px;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size:10px;
		padding:3px;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size:10px;
		padding:3px;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
       font-size:10px;
	   padding:3px;
}

form
{
width:80%;
}



.btns
{
background-color: rgb(145, 170, 186);
border:1px solid  rgb(145, 170, 186);
border-radius:3px;
width:89px;
padding:4px;
font-size:0.8em;
color:white;
font-weight:none;
cursor:pointer;
}

.btns:hover
{
background-color: rgb(81, 157, 205);
}

.btns:focus
{
background-color: rgb(81, 157, 205);
}

.register{width:100px; opacity:0.3;}

textarea,input[type="date"],input[type="text"],input[type="password"]
{
font-family:Arial;
padding:0.4%;
-ms-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
-webkit-box-sizing:content-box; 
}

.table2 select {
font-family:Arial;
width:176px; 
overflow:hidden; 
white-space:pre; 
text-overflow:ellipsis;
/*-webkit-appearance: none;*/
padding:0.3%;

}

.required{
    color: red;
}

.buttons{
 
    float: right;
  margin-top: -34px;
}
.heading
{
    color:green;
}

    